.mWrapper {
  float: left;
  position: relative;
  width: 100%; }

.cmnDiv {
  width: 100%;
  float: left;
  position: relative; }

body {
  font-family: "Open Sans",Arial,sans-serif;
  margin: 0;
  overflow: auto; }

iframe {
  border: none; }

/*home page*/
#abt {
  overflow: auto; }
  #abt .about {
    position: relative;
    overflow: auto;
    height: 750px;
    margin: 0 auto; }
    #abt .about h3 {
      margin-top: 100px;
      padding-left: 7px;
      color: rgba(3, 3, 3, 0.6); }
    #abt .about p {
      margin-top: 150px;
      color: #f0551b;
      font-size: 16px; }
    #abt .about .myimage img {
      height: 300px;
      position: relative;
      margin-top: 80px; }

.work {
  height: 370px;
  background-color: #f0551b; }
  .work.work:hover {
    background-color: rgba(240, 85, 27, 0.93); }
  .work p {
    color: rgba(3, 3, 3, 0.7);
    margin-top: 100px; }
  .work h4 {
    margin-top: 20px;
    color: rgba(3, 3, 3, 0.7); }
  .work a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 40px;
    margin-top: 60px; }
  .work a:hover, .work focus {
    background-color: rgba(3, 3, 3, 0.1); }

footer {
  height: 300px;
  background-color: rgba(3, 3, 3, 0.9);
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 25px; }
  footer i {
    margin-top: 100px;
    padding: 20px; }
  footer a {
    color: rgba(255, 255, 255, 0.5); }
  footer p {
    margin-top: 50px;
    font-size: 25px; }

/*Contact*/
.contact-section {
  width: 100%;
  float: left;
  position: relative;
  background-color: #161717;
  top: 0px;
  margin-top: 0px;
  color: #ffffff;
  height: 678px; }
  .contact-section p {
    color: #f0551b;
    margin-top: 150px;
    font-size: 18px; }
  .contact-section .text-section a {
    float: left;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 40px;
    padding: 10px; }
  .contact-section .text-section h3 {
    color: white;
    font-size: 25px; }
  .contact-section i {
    font-size: 25px;
    padding: 20px; }

/*About section*/
.about-images {
  height: 350px;
  background-color: #030303;
  position: relative; }

.about-section {
  height: 500px;
  position: relative; }
  .about-section p {
    margin-bottom: 30px; }
  .about-section h5 {
    margin-top: 500px;
    color: #f0551b; }

.contactme {
  background-color: #f0551b;
  color: #ffffff;
  height: 200px;
  margin-top: 120px; }
  .contactme p {
    margin-top: 30px;
    font-size: 20px; }

.about-footer {
  height: 300px; }

nav.navbar-default {
  background-color: rgba(3, 3, 3, 0.9);
  border-bottom: 1px solid #ffffff; }
  nav.navbar-default .navbar-brand {
    color: #f0551b; }
nav #navbar ul.nav li {
  text-align: center; }
  nav #navbar ul.nav li.active a {
    color: #ffffff;
    background-color: rgba(3, 3, 3, 0);
    border-bottom: 2px solid #f0551b; }
  nav #navbar ul.nav li a {
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 13px; }
  nav #navbar ul.nav li a:hover, nav #navbar ul.nav li focus {
    color: #f0551b;
    border-bottom: 1px solid #f0551b; }

/*# sourceMappingURL=mainlayout.css.map */
